allow hal_vibrator_default aac_richtap_dev_device:chr_file { getattr ioctl open read write map };
allow hal_vibrator_default untrusted_app_all:fd{ use };
allow hal_vibrator_default appdomain_tmpfs:file{ read };
